.header-contacts {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 91px;
  row-gap: 8px;
  margin: 128px 473px 48px 473px;
}

.header-contacts p:nth-child(1) {
  font: var(--subtitle);
  color: var(--purple);
  margin: auto;
}

.header-contacts h1 {
  font: var(--title-md);
  color: var(--gray-600);
  margin: auto;
}

.header-contacts p:nth-child(3) {
  font: var(--text-md);
  color: var(--gray-500);
  margin: auto;
}