.image-dev {
  display: flex;
  margin: auto;
  position: relative;
  width: fit-content;
}

#dev-image { 
  border: 2px solid var(--red);
  border-radius: 999px;
}

.icon-code {
  width: 31px;
  position: absolute;
  bottom: 0;
  right: 0;
} 