#intro {
  display: flex;
  flex-direction: column;
  height: 750px;
  background-image: url(../../assets/backgrounds/Background_Intro.png);
  background-size: contain;
}

#intro #arrowdown {
  margin: auto;
  
}